@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
<li class="button">
    <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Search">Search Student by name</a>
</li>
<li class="button">
    <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="GetAllStudents">Get All Student</a>
</li>
<li class="button">
        <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="SumOfAges">Sum Of Ages</a>
</li>


</ul>